*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */

.flex {
    display: flex;
}

.btw {
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 10000px;
    background-image: linear-gradient( 48deg, #F7E93F , #FB09B4 ,  #9100F8) ;
    border: none;
    cursor: pointer;
}



/* navbar styles */
header {
    background-color: #1A0B2E;
}
header hr {
    max-width: 1600px;
    opacity: 10%;
}
.navbar {
    max-width: 1600px;
    justify-content: space-around;
    padding: 22px 0;
    align-items: center;
    
}

.nav-link {
    list-style: none;
    gap: 32px;

}

.nav-link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    opacity: 90%;
    color: white;
}

/* banner styles */
.banner {
    background-image: url(./images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 760px;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    /* padding: 101px 0; */

}

.hero-img {
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    max-width: 350px;
    max-height: 350px;
}
.hero-img img {
    max-width: 100%;
    height: auto;
}
.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text {
    padding-top: 40px;
}
.banner-text h2 {
    font-weight: 800;
    font-size: 60px;
    color: white;
}
.banner-text p {
    padding-top: 8px;
    opacity: 80%;
    color: white;
}
.banner-btw {
    padding-top: 24px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.btw-2 {
    padding: 12px 16px;
    color: #00FF88;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10000px;
    border: 1.5px solid #00FF88;
    cursor: pointer;
    background-color: transparent;
}
.new-btw {
    padding: 8px 16px;
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5) ;
    position: absolute;
    top: 5%;
    left: 75%;
    color: #1A0B2E;
}

/* about section styles */
.about-container {
    text-align: center;
    padding-top: 50px;
    color: white;
    background-color: #1A0B2E;

}
.about-text h2 {
    font-size: 48px;
    /* font-weight: 700; */
}
.about-text p {
    padding-top: 16px;
    font-size: 16px;
    line-height: 2;
    opacity: 80%;
}
.about-container hr {
    max-width: 1200px;
    opacity: 10%;
    margin: 80px auto;
}
.merit-comtent {
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 120px;
}

.merits h2 {
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}
.merits p {
    padding-top: 10px;
    opacity: 80%;
    line-height: 20px;
}
 /* why choose section */
.why-choose {
    background-color: #230E3D;
    padding: 120px 0;
}
.why-choose h2 {
    text-align: center;
    font-size: 48px;
    color: white;
    padding-bottom: 40px;
}
.card-container {
    display: grid;
    /* gap: 30px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}
.audeo {
    grid-row: span 2;
}
.mobile, .community, .interviews{
    grid-column: span 2;
}

.why-choose-card {
    max-width: 1200px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4) ;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin: 15px;
}

.why-choose-card h3 {
    padding: 16px 0;
    font-size: 24px;
    text-align: center;
}
.why-choose-card p {
    opacity: 60%;
    font-size: 16px;
    line-height: 24px;
}

/* featured section */

.card-host {
    background-color: #1A0B2E;
    padding: 120px 0;
}

.featured-container h2 {
    font-size: 48px;
    color: white;
    text-align: center;
}
.video-card-container {
    padding: 40px 15px 0;
    max-width: 1200px;
    gap: 30px;
    margin: 0 auto;
    height: auto;

}
.featured-card {
    border-radius: 20px;
    background-color: #250D44;
    /* border: 1px solid red; */
}
.featured-card iframe {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 214px;
}
.card-text {
    height: 50%;
    padding: 24px;
    color: white;
}
.featured-card h3 {
    font-size: 24px;
}
.featured-card p {
    padding-top: 12px;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
}
.video-time { 
    display: flex;
    gap: 6px;
    justify-content:flex-start;
    align-items: center ;
    padding-top: 12px;
}
.video-time span {
    color: #00FF88;
}