*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */

.flex {
    display: flex;
}

.btw {
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10000px;
    background-image: linear-gradient( 48deg, #F7E93F , #FB09B4 ,  #9100F8) ;
    border: none;
    cursor: pointer;
}



/* navbar styles */
header {
    background-color: #1A0B2E;
}
header hr {
    max-width: 1600px;
}
.navbar {
    max-width: 1600px;
    justify-content: space-around;
    padding: 30px 0;
    align-items: center;
    
}

.nav-link {
    list-style: none;
    gap: 32px;

}

.nav-link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    opacity: 90%;
    color: white;
}

/* banner styles */
.banner {
    background-image: url(./images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    /* padding: 101px 0; */

}

.hero-img {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}
.hero-img img {
    max-width: 100%;
    height: auto;
}

.banner-text {
    padding-top: 40px;
}
.banner-text h2 {
    font-weight: 800;
    font-size: 60px;
    color: white;
}
.banner-text p {
    padding-top: 8px;
    opacity: 80%;
    color: white;
}
.banner-btw {
    padding-top: 24px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}