*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */

.flex {
    display: flex;
}

.btw {
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 10000px;
    background-image: linear-gradient( 48deg, #F7E93F , #FB09B4 ,  #9100F8) ;
    border: none;
    cursor: pointer;
}

body {
    background-color: #250D44;
}


/* navbar styles */
header {
    background-color: #1A0B2E;

}
header hr {
    max-width: 1600px;
    opacity: 10%;
    margin: 0 auto;
}
.navbar {
    max-width: 1600px;
    justify-content: space-around;
    padding: 22px 0;
    align-items: center;
    margin: 0 auto;
    
}

.nav-link {
    list-style: none;
    gap: 32px;

}

.nav-link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    opacity: 90%;
    color: white;
}

.menu {
    display: none;
}

/* banner styles */
.banner {
    background-image: url(./images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 760px;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;

}

.hero-img {
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    max-width: 350px;
    max-height: 350px;
}
.hero-img img {
    max-width: 100%;
    height: auto;
}
.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text {
    padding-top: 40px;
}
.banner-text h2 {
    font-weight: 800;
    font-size: 60px;
    color: white;
}
.banner-text p {
    padding-top: 8px;
    opacity: 80%;
    color: white;
}
.banner-btw {
    padding-top: 24px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.btw-2 {
    padding: 12px 16px;
    color: #00FF88;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10000px;
    border: 1.5px solid #00FF88;
    cursor: pointer;
    background-color: transparent;
}
.new-btw {
    padding: 8px 16px;
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5) ;
    position: absolute;
    animation-name: newAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    top: 5%;
    left: 75%;
    color: #1A0B2E;
}
@keyframes newAnimation {
    0%    {background-color: #00FF88; padding: 6px 12px; box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5) ;}
    100%  {background-color: #3feb9a; padding: 8px 16px; box-shadow: 0px 3px 35px 0px rgba(43, 129, 89, 0.5) ;}
}

/* about section styles */
.about-container {
    text-align: center;
    padding-top: 50px;
    color: white;
    background-color: #1A0B2E;

}
.about-text h2 {
    font-size: 48px;

}
.about-text p {
    padding-top: 16px;
    font-size: 16px;
    line-height: 2;
    opacity: 80%;
}
.about-container hr {
    max-width: 1200px;
    opacity: 10%;
    margin: 80px auto;
}
.merit-comtent {
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 120px;
}

.merits h2 {
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}
.merits p {
    padding-top: 10px;
    opacity: 80%;
    line-height: 20px;
}
 /* why choose section */
.why-choose {
    background-color: #230E3D;
    padding: 120px 0;
}
.why-choose h2 {
    text-align: center;
    font-size: 48px;
    color: white;
    padding-bottom: 40px;
}
.card-container {
    display: grid;
    /* gap: 30px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}
.audeo {
    grid-row: span 2;
}
.mobile, .community, .interviews{
    grid-column: span 2;
}

.why-choose-card {
    max-width: 1200px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4) ;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin: 15px;
}

.why-choose-card h3 {
    padding: 16px 0;
    font-size: 24px;
    text-align: center;
}
.why-choose-card p {
    opacity: 60%;
    font-size: 16px;
    line-height: 24px;
}

/* featured section */

.card-host {
    background-color: #1A0B2E;
    padding: 120px 0;
}

.featured-container h2 {
    font-size: 48px;
    color: white;
    text-align: center;
}
.video-card-container {
    padding: 40px 15px 0;
    max-width: 1200px;
    gap: 30px;
    margin: 0 auto;
    height: auto;

}
.featured-card {
    border-radius: 20px;
    background-color: #250D44;

}
.featured-card iframe {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 214px;
}
.card-text {
    height: 50%;
    padding: 24px;
    color: white;
}
.featured-card h3 {
    font-size: 24px;
}
.featured-card p {
    padding-top: 12px;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
}
.video-time { 
    display: flex;
    gap: 6px;
    justify-content:flex-start;
    align-items: center ;
    padding-top: 12px;
}
.video-time span {
    color: #00FF88;
}

/* host styles */
.host-container {
    /* max-width: 1200px; */
    padding: 120px 15px 0;
    color: white;
}
.host-container h2 {
    font-size: 48px;
    text-align: center;
}
.host {
    margin: 40px auto 0;
    max-width: 1120px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    align-items: center;
    gap: 24px;
}
.host h3 {
    font-size: 32px;
}
.host p {
    padding: 16px 0;
    opacity: 60%;
    line-height: 24px;
}
.host-icon {
    justify-content: flex-start;
    gap: 8px;
    border: #533C72;
}
.icon-circle {
    border-radius: 50%;
    border: 1px solid #533C72;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer styles */
footer {
    background-image: url(./images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 412px;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    
}
.footer-container {
    max-width: 1200px;
    color: white;
    margin: 0 auto;
}
.footer-content {
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    gap: 40px;
}
.footer-icon {
    display: flex;
    align-items: center;
    gap:9px;
}
.footer-container a {
    opacity: 60%;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.footer-container p {
    opacity: 60%;
    line-height: 24px;
}


/* responsive styles */

@media screen and (max-width: 576px) {

    /* navbar styles */
    .nav-link {
        display: none;
    }
    .navbar button {
        display: none;
    }
    .menu {
        display: initial;
    }
    .navbar {
        justify-content: space-between;
        padding: 16px 20px;
    }

    /* banner styles */
    .banner {
        background-image: url(./images/small-hero-bg-Image.png);
        height: 446px;
        max-width: 100vw;
    }
    .hero-img {
        max-width: 200px;
        height: 200px;
    }
    .microphone {
        width: 47px;
        height: 70px;
    }
    .banner-text h2 {
        font-size: 40px;
    }
    .banner-container {
        padding: 40px 0px;
        margin: 0 auto;
        max-width: 400px;
    }
    .banner-text {
        padding-top: 24px;
    }

    /* about-section styles */
    .about-container {
        padding-top: 40px;
    }
    .about-text {
        max-width: 100vw;
        padding: 0 20px;
        margin: 0 auto;
    }
    .about-text h2 {
        font-size: 32px;
    }
    .about-text p {
        line-height: 20px;
        padding: 16px 0;
    }
    .about-container hr {
        max-width: 400px;
        margin: 40px auto;
    }
    .merit-comtent {
        max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding:0 20px 40px;
        gap: 40px;
    }
    .merits h2 {
        font-size: 40px;
    }

    /* why choose section */
    .why-choose {
        padding: 40px 0;
    }
    .why-choose h2 {
        font-size: 32px;
        padding-bottom: 16px;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        max-width: 100vw;
        margin: 0 auto;
    }
    .why-choose-card {
        max-width: 100vw;
        padding: 24px;
    }
    .why-choose-card h3 {
    font-size: 22px;
    text-align: start;
    }

    /* featured & host section */

    .card-host {
        padding: 40px 0;
    }
    .featured-container h2 {
        font-size: 32px;
    }
    .video-card-container {
        padding: 24px 20px 0;
        max-width: 100vw;
        gap: 16px;
        flex-direction: column;
    }
    .host-container {
        padding: 60px 20px 0;
    }
    .host {
        flex-direction: column;
        margin: 24px auto 0;
        max-width: 100vw;
        padding: 24px;
        gap: 16px;
        border-radius: 24px;
    }
    .host-info {
        text-align: center;
    }
    .host-icon {
        justify-content: center;
        align-items: center;
    }

    /* footer styles */
    footer {
        background-image: url(./images/small-footer-Image.png);
        height: 248px;
        max-width: 100vw;
        margin: 0 auto;
    }
    .footer-techwave {
        width: 219px;
        height: 32px;
    }
    .footer-content {
        width: 255px;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 24px 0;
        gap: 16px;
}

}

